
<div class="titulo col-12 mt-4">
    <h5 class="titleSection card-header text-center">
        Productos Recomendados
    </h5>
</div>

    <div id="carousel" class="container-fluid center my-4" style="text-align:center;">
      <% productos.forEach(producto=>{ if (producto.destacado > 0 && producto.destacado !=null){%>
        <div class="row justify-content-center">
            <div class="col">
                <div class="productosIndex" style="border: 1px solid gray; border-radius: 5px; padding: 20px;">
                <a class="anchorProducs blackColor" href="/products/detail/<%= producto.id %>">
                    
                    <div style="background-repeat:no-repeat; background-position: center; background-image: url('/img/products/<%= producto.imagenes %>'); height: 200px;"></div>
                    <%if (producto.nombre.length > 17) {%>
                        <p>
                            <h5 class="titleProduct pt-4"><%- producto.nombre.slice(0,17) + '...'%></h5>
                        </p>
                        <%}else{%>
                            <h5 class="titleProduct pt-4"><%= producto.nombre %></h5>
                        <%}%>
                    <p class="d-inline" style="background-color: white;color: black;"><%= (producto.precio - producto.precio * producto.descuento/100).toFixed(0).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %></p>
                    <p class="d-inline"style="background-color: white;color: black;"><%= producto.descuento %>% OFF</p>
                    <i class="fas fa-truck "></i>
                    
                </a>
             
            </div>
            </div>
        </div>
      <% }}) %>
    </div>