<div class="titulo col-12 mt-4">
    <h5 class="titleSection card-header text-center">
        Ofertas destacados
    </h5>
</div>

    <div id="carousel" class="container-fluid center my-4" style="text-align:center;">
      <% productos.forEach(producto=>{ if (producto.descuento > 10){%>
        <div class="row justify-content-center">
            <div class="col">
                <div class="productosIndex" style="border: 1px solid gray; border-radius: 5px; padding: 20px;">
                <a class="anchorProducs blackColor" href="/products/detail/<%= producto.id %>">
                    
                    <div style="background-position: center; background-image: url('/img/products/<%= producto.imagenes %>'); height: 200px;"></div>
                    <%if (producto.nombre.length > 17) {%>
                        <p>
                            <h5 class="titleProduct pt-4"><%- producto.nombre.slice(0,17) + '...'%></h5>
                        </p>
                        <%}else{%>
                            <h5 class="titleProduct pt-4"><%= producto.nombre %></h5>
                        <%}%>
                    <p class="d-inline"><%= (producto.precio - producto.precio * producto.descuento/100).toFixed(0).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %></p>
                    <p class="d-inline"><%= producto.descuento %>% OFF</p>
                    <i class="fas fa-truck "></i>
                    
                </a>
                <!-- <div class="d-block m-3">
                   
                        <form class="d-inline" action="/products/agregarAlCarrito/<%= producto.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                        <a href="/products/detail/<%= producto.id %>"><button type="button"
                                class="btn btn-outline-dark">Ver</button></a>
                        <a><button class="btn  btn-dark btn-carrito"
                                style="background-color: #4d582a;"
                                value="25" type="submit" >Carrito</button></a>
                    </form>
                </div> -->
            </div>
            </div>
        </div>
      <% }}) %>
    </div>