<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>

<body>
    <%- include('partials/header') %>


    <div class="container">
        <section class="perfilUsuario">
            <div class="row perfil">
                <!-- TITULO -->
                <div class="titulo col-12">
                    <h5 class="titleSection card-header text-center my-3">
                        <%= title %>
                    </h5>
                </div>
                <!-- BOTONES NAVEGACION USUARIO / PRODUCTOS -->
                <div class="container row">
                    <div style="margin-left: 15px;">
                        <a class="" id="profile-tab"  href="/products/admin/1" >PRODUCTOS</a>
                    </div>
                    
                    <div style="margin-left: 15px;">
                        <a class="r" id="profile-tab"  href="/users/admin/1">USUARIOS</a>
                    </div>
                </div>

                <!-- CONTENEDOR PRINCIPAL -->
                <div class="col-12">

                    <div class="">
                        <!-- BOTONES NAVEGACION -->
                        <ul class="nav nav-tabs " id="myTab" role="tablist">
                            <!-- DETALLE -->
                            <li class="nav-item " role="presentation">
                                <a class="nav-link active blackColor" id="profile-tab" data-toggle="tab" href="#detalleProducto" role="tab" aria-controls="profile" aria-selected="false">Detalle Producto</a>
                            </li>

                            <!-- LISTADO -->
                            <li class="nav-item " role="presentation">
                                <a class="nav-link blackColor" id="profile-tab" data-toggle="tab" href="#listadoProductos" role="tab" aria-controls="profile" aria-selected="false">Listado Productos</a>
                            </li>

                            <!-- EDITAR -->
                            <li class="nav-item " role="presentation">
                                <a class="nav-link blackColor" id="home-tab" data-toggle="tab" href="#editarProducto" role="tab" aria-controls="home" aria-selected="true">Editar Producto</a>                            
                            </li>   

                            <!-- AGREGAR -->
                            <li class="nav-item " role="presentation">
                                <a class="nav-link blackColor" id="home-tab" data-toggle="tab" href="#agregarProducto" role="tab" aria-controls="home" aria-selected="true">Agregar Producto</a>                            
                            </li>    
                        </ul>

                        <!-- CONTENEDOR INFO -->
                        <div class="tab-content" id="myTabContent ">

                            <!-- DETALLE PRODUCTOS -->
                            <div class="tab-pane fade  show   active " id="detalleProducto" role="tabpanel" aria-labelledby="profile-tab">

                                <div class="row p-3">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-1">
                                                <% if (producto.id>1) { %>
                                                    <a href="/products/admin/<%- producto.id-1 %> " class="text-warning"><i class="fas fa-angle-double-left "style="font-size: 2.5em; color: #534317"></i></a>
                                                    <% } %>
                                            </div>
                                            <div class="col-10">
                                                <h3 class="text-center">
                                                    <%= producto.name %>
                                                </h3>
                                            </div>
                                            <div class="col-1">
                                                <% if (producto.id < total) { %>
                                                    <a href="/products/admin/<%- producto.id+1 %> " class="text-warning"><i class="fas fa-angle-double-right "style="font-size: 2.5em; color: #534317"></i></a>

                                                    <% } %>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-12 col-md-4 mt-3">
                                            <figure class="text-center">
                                                <img src="/img/products/<%= producto.image %> " alt="" class="img-fluid">
                                            </figure>
                                        </div>
                                    <div class="col-12 col-md-8 mt-3">
                                        <p>
                                            <%= producto.description %>
                                        </p>
                                        <div class="row">
                                            <div class="col-12 col-lg-4">
                                                <span><b>Categoría:</b> 
                                                    <%= producto.category %>
                                                </span>
                                            </div>
                                            <div class="col-12 col-md-6 col-lg-4">
                                                <span><b>Precio:</b>  $
                                                <%=producto.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")%>
                                            </span>
                                            </div>
                                            <div class="col-12 col-md-6 col-lg-4">
                                                <span><b>Descuento:</b> 
                                                <%=producto.discount%>%
                                            </span>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!-- LISTADO PRODUCTOS -->
                            <div class="tab-pane fade show" id="listadoProductos" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="row productos p-4">
                                    <% productosTotales.forEach(producto => { %>
                                    <div class="col-6 col-md-3 col-xl-2">
                                        <div class="contenido">
                                            <figure>
                                                <a href="/products/admin/<%- producto.id %>"><img src="/img/products/<%- producto.image %>  " alt="" style="width: 150px;"></a>
                                            </figure>
                                            <%if (producto.name.length > 10) {%>
                                            <p>
                                                <%- producto.name.slice(0,20) + '...'%>
                                            </p>
                                            <%}%>
                                            <div class="d-flex justify-content-around">
                                                <form action="/products/show/<%= producto.id %>" method="GET">
                                                    <button class="btn btn-outline-light">
                                                        <h4 class="fas fa-eye text-info"></h4>
                                                    </button>
                                                </form>
                                                <form action="/products/show/<%= producto.id %>" method="GET">
                                                    <button class="btn btn-outline-light">
                                                        <h4 class="fas fa-edit text-primary"></h4>
                                                    </button>
                                                </form>
                                                <form action="/products/delete/<%= producto.id %>?_method=DELETE" method="POST">
                                                    <button class="btn btn-outline-light">
                                                        <h4 class="fas fa-trash" style="color:green "></h4>
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <% }) %>
                                </div>
                            </div>

                            <!-- EDITAR PRODUCTOS -->
                            <div class="tab-pane fade " id="editarProducto" role="tabpanel" aria-labelledby="home-tab">
                                    <form action="/products/edit/<%= producto.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                                        <div class="row p-3">
                                            <div class="form-group col-12">
                                                <input class="form-control" type="text" value="<%= producto.name%>" name="name">
                                            </div>
                                            <div class="col-12 col-md-4 col-xl-4 mt-3">
                                                <figure class="text-center">
                                                    <img src="/img/products/<%= producto.image %> " alt="" class="img-fluid">
                                                </figure>
                                                <input type="file" class="form-control" name="image">
                                            </div>
                                            <div class="form-group col-12 col-md-8 col-xl-8 mt-3">
                                                <textarea class="form-control" rows="7" name="description" id=""><%= producto.description %></textarea>
                                                <p>
                                                </p>
                                                <div class="row">
                                                    <div class="form-group col-12 col-lg-4">

                                                        <select name="category" id="" class="form-control">
                                                            <% categorias.forEach(producto => { %>
                                                                <option value=" <%= producto.category %>"> <%= producto.category %></option>
                                                            <% }) %>
                
                                                        </select>
                                                    </div>
                                                    <div class="form-group col-6 col-lg-4">

                                                        <div class="input-group mb-2 mr-sm-2">
                                                            <div class="input-group-prepend">
                                                                <div class="input-group-text">$</div>
                                                            </div>
                                                            <input type="text" class="form-control" value="<%=producto.price%>" name="price">
                                                        </div>
                                                    </div>
                                                    <div class="col-6 col-lg-4">
                                                        <div class="input-group mb-2 mr-sm-2">

                                                            <input type="text" class="form-control" value="<%=producto.discount%>" name="discount">
                                                            <div class="input-group-prepend">
                                                                <div class="input-group-text">%</div>
                                                            </div>
                                                        </div>
                                                        </span>
                                                    </div>
                                                    <div class="col-12 d-flex justify-content-end">
                                                        <button class="btn btn btn-outline-dark mr-2" style="color: white;
                                                        background-color:  #4d582a;">Cancelar</button>
                                                        <button class="btn btn btn-outline-dark"  style="color: white;
                                                        background-color:  #4d582a;" type="submit" name="id" value="<%= producto.id %> ">Guardar</button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </form>
                                    <div>
                                    <form action="/products/delete/<%= producto.id %>?_method=DELETE" method="POST">
                                        <div class="col-12 d-flex justify-content-end"  id="botones">
                                            <button class="btn btn-danger mb-3">
                                                ELIMINAR PRODUCTO
                                            </button>
                                        </div>
                                    </form>
                                    </div>
                                </div>

                            <!--  AGREGAR  PRODUCTOS-->
                            <div class="tab-pane fade show" id="agregarProducto" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="col-12  formulario">
                                    <div class="">
                                        <form action="/products/add" method="POST" enctype="multipart/form-data">
                                            <div class="form-group">
                                                <select id="exampleFormControlInput1" value="" name="category">
                                                    <option value="null">Selecciona una categoria</option>
                                                    <option value="carpas">Carpas</option>
                                                    <option value="pesca">Pesca</option>
                                                    <option value="accesorios">Accesorios</option>
                                                    <option value="indumentaria">Indumentaria</option>
                                                    <option value="calzado">Calzado</option>
                                                    <option value="rifles">Rifles</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">Titulo de la publicación</label>
                                                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="" name="name">
                                            </div>
                                            <div class="form-row">
                                                <div class="col">
                                                    <label for="">Precio</label>
                                                    <input type="number" class="form-control" name="price">
                                                </div>
                                                <div class="col">
                                                    <label for="">Descuento</label>
                                                    <input type="number" class="form-control" name="discount">
                                                </div>
                                            </div>
                                            <div class="form-group mt-3">
                                                <label for="exampleFormControlTextarea1">Descripción</label>
                                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description"></textarea>
                                            </div>
                                            <div class="form-group mt-3">
                                                <label for="">Elija una imagen</label>
                                                <input type="file" class="form-control" name='image'>
                                            </div>
                                            <div class="mt-5 mr-5 d-flex justify-content-end">
                                                <button type="reset" class="btn btn btn-outline-dark mr-2" style="color: white;
                                                background-color:  #4d582a;margin-bottom: 20px;">BORRAR</button>
                                                <button type="submit"  class="btn btn btn-outline-dark mr-2" style="color: white;
                                                background-color:  #4d582a;margin-bottom: 20px;">PUBLICAR</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div><!-- FIN CONTENEDOR DE PANELES -->
                        
                    </div>
                </div>
            </div>
        </section>
    </div>



    <%- include('partials/footer') %>
    <%- include('partials/scripts') %>
</body>

</html>