<!DOCTYPE html>
<html lang="es">
<%- include('partials/head')  %> 
<body>
    <%- include('partials/header')  %> 
    <div class="container my-3 montserrat">
        <section>

            <!--caja que contiene todos los productos de la ultima visita-->
            <div class="row productos">

                <!--caja que contiene el titulo de la sección-->
                <div class="titulo col-12">
                    <h5 class="titleSection card-header text-center">
                        <%= title %> 
                    </h5>
                </div>
                <!--recorro los productos basados en la ultima visita con un forEach-->
                <% productos.forEach(producto => { %>

                    <!--caja de la grilla de bootstrap-->

                    
                    <!--finaliza caja de grilla de boostrap-->

                        <div class="col-3 my-3 text-center productosProd" id="descriptionProd">
                            <a class="anchorProducs blackColor" href="/products/detail/<%= producto.id %>">
                                <div style="background-position: center; background-image: url('/img/products/<%= producto.imagenes %>'); height: 200px;"></div>
                                <h4 class="titleProduct"><%= producto.nombre %></h4>
                                <p class="d-inline"><%= (producto.precio).toFixed(0).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %></p>
                                <p class="d-inline"><%= producto.descuento %>% OFF</p>
                                <i class="fas fa-truck "></i>
                            </a>
                            <div class="d-block m-3 text-center">
                                <form class="d-inline text-center"
                                    action="/products/agregarAlCarrito/<%= producto.id %>?_method=PUT"
                                    method="POST" enctype="multipart/form-data">
                                    <a href="/products/detail/<%= producto.id %>"><button type="button"
                                            class="btn btn-outline-dark">Ver</button></a>
                                    <a><button class="btn-carrito btn  btn-dark"
                                            style="background-color: #4d582a;  border-color: transparent;"
                                            value=<%= producto.id %>">carrito</button></a>
                                </form>
                            </div>
                            <div id="descriptionProd">
                            </div>
                        </div>

                    

                    <% }) %>
            </div>
            <!--finaliza el div.row-->

        </section>
    </div>

    

    
    <%- include('partials/footer')  %> 
    <script type="text/javascript" src="../js/products.js"></script>
</body>
</html>