<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>

<body>
    <%- include('partials/header') %>
    <div class="container">
        <section class="perfilUsuario">
            <div class="row perfil">
                <div class="titulo col-12">
                    <h5 class="titleSection card-header text-center my-3">
                        <%= title %>
                    </h5>
                </div>

                <div class="col-12">
                    <div class="">
                        <ul class="nav nav-tabs " id="myTab" role="tablist">
                            <% if (user) { %>
                            <li class="nav-item " role="presentation">
                                <a class="nav-link active blackColor" id="profile-tab" data-toggle="tab" href="#usuarios" role="tab" aria-controls="profile" aria-selected="false">Mi cuenta</a>
                            </li>
                            <li class="nav-item " role="presentation">
                                <a class="nav-link blackColor" id="profile-tab" data-toggle="tab" href="#compras" role="tab" aria-controls="profile" aria-selected="false">Mis Compras</a>
                            </li>
                            <% } %>
                        
                            
                        </ul>

                        
                        <div class="tab-content" id="myTabContent ">

                            <!-- PANEL MI PERFIL -->
                            
                              <div class="tab-pane fade show active my-5" id="usuarios" role="tabpanel" aria-labelledby="profile-tab">
                                <form action="/users/updateProfile/<%= user.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                                <% if (user) { %>
                                <div class="d-inline-block "><img src="/img/avatares/<%= (user.avatar) %> " style="width: 300px; width: 300px;" alt="" >
                                    <input type="file" class="form-control" name="avatar">
                                </div>
                                <div class="d-inline-block col-lg-7 p-3" >
                                    
                                                                    <!-- EDITAR NOMBRE DE user -->
                                        
                                <div class="form-group col-12 ">
                                    <label for="">Nombre:</label>
                                    <input class="form-control" type="text" value="<%= user.nombre%>" name="nombre" disabled>
                                </div>
                                    <!-- APELLIDO -->
                                <div class="form-group col-12 ">
                                    <label for="">Apellido:</label>
                                    <input class="form-control" type="text" value="<%= user.apellido%>" name="apellido" disabled>
                                </div>
                                  <!-- MAIL -->
                                <div class="col-12 ">
                                    <label for="">Email:</label>
                                    <input class="form-control" type="text" value="<%= user.email%>" name="email" disabled>
                                </div>
                                <!-- EDAD -->
                                <div class="col-12 col-lg-3">
                                    <label for="">Edad:</label>
                                    <input type="date" value="<%= user.edad %>" name="edad">
                                </div>
                                <!-- DIRECCION -->
                                <div class="col-12 ">
                                    <label for="">Direccion:</label>      
                                    <input class="form-control " type="text" value="<%= user.direccion%>" name="direccion">
                                </div>
                            <!-- CIUDAD -->
                                <div class="col-12 ">
                                    <label for="">Ciudad:</label>   
                                        <input class="form-control " type="text" value="<%= user.ciudad%>" name="ciudad">
                                    
                                </div>
                            <!-- PROVINCIA -->
                                <div class="col-12 ">
                                    <label for="">Provincia:</label>   
                                        <input class="form-control " type="text" value="<%= user.provincia%>" name="provincia">
                                </div>
                                    <% } %>
                                <!-- BOTON ACTUALIZAR -->
                                <div class="col-12 d-flex justify-content-end"  id="botones">
                                                    
                                    <button class="btn btn-info" type="submit" name="id" >ACTUALIZAR DATOS</button>

                                 </div>
                                </form>
                                <!-- BOTON DARSE DE BAJA -->
                                <form action="/users/delete/<%= user.id %>?_method=DELETE" method="POST">
                                    <div class="col-12 d-flex justify-content-end"  style="margin-top: 5px;" id="botones">
                                    <button class="btn btn-danger mb-3">
                                        DARSE DE BAJA
                                    </button>
                                </div>
                                </form>
                            </div>
                              
                            </div>
                            
                            
                        

                            <!-- PANEL COMPRAS -->
                            <!-- //////////////////// FALTA EDITAR ESTE //////////////////// -->
                            <div class="tab-pane fade show" id="compras" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="row productos p-4">
                                    <% productos.forEach(producto => { %>
                                    <div class="col-6 col-md-3 col-xl-2">
                                        <div class="contenido">
                                            <figure>
                                                <a href=""><img src="/img/products/<%- producto.image %>  " alt="" style="width: 150px;"></a>
                                            </figure>
                                            <%if (producto.name.length > 10) {%>
                                            <p>
                                                <%- producto.name.slice(0,20) + '...'%>
                                            </p>
                                            <%}%>

                                        </div>
                                    </div>
                                    <% }) %>
                                </div>
                            </div>


                        </div><!-- FIN CONTENEDOR DE PANELES -->
                        
                    </div>
                </div>
            </div>
        </section>
    </div>
    <%- include('partials/footer') %>
    <%- include('partials/scripts') %>
</body>

</html>