<%- include('partials/head.ejs') %>

<body>
    <!-- Header -->
    <%- include('partials/header.ejs') %>
    <!--=============================
    =            Content            =
    ==============================-->
    <main class="mainRegister">
        <div>
            <div class="container my-5" style="height: 50vh;">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-8 p-0" style="border: 2px solid #e2ddf1; border-radius: 10px;">
                        <h5 class="titleSection card-header text-center p-1" style="border-top-left-radius: 10px;
                        border-top-right-radius: 10px;">Iniciar sesion</h5>
                        <form id="login" class="my-3" style="padding-left: 15px; padding-right: 15px" action="" method="POST">
                            <div class="row form-group">
                                <label for="nombre" class="col-form-label col-md-4 ">E-mail:</label>
                                <div class="col-md-8">
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="<%= (typeof old != 'undefined' && old.email)?old.email:'' %>" name="email">
                                    <small id="emailLoginError" class="text-danger"></small>
                                    <small class="text-danger"><%= (typeof errors != 'undefined' && errors.email)?errors.email.msg: "" %> </small>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="Contraseña" class="col-form-label col-md-4 ">Contraseña:</label>
                                <div class="col-md-8">
                                    <input type="password" class="form-control" id="exampleInputPassword1" name="contraseña">
                                    <small id="passwordLoginError" class="text-danger"></small>
                                    <small class="text-danger"><%= (typeof errors != 'undefined' && errors.contraseña)?errors.contraseña.msg: "" %> </small>
                                </div>
                            </div>
                            <div class="form-group form-check text-center">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1" name="recordar">
                                <label class="form-check-label" for="exampleCheck1">Recordarme</label>
                          </div>
                            <div class="row justify-content-center align-items-center">
                                <div class="col-sm-4 text-center">
                                    <button class="register btn btn-outline-dark"  type="submit">INICIAR SESION</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!--====  End of Content  ====-->
    <!-- footer -->
    <%- include('partials/footer.ejs') %>
    <!-- scripts -->
    <%- include('partials/scripts.ejs') %>
    <script type="text/javascript" src="../js/login.js"></script>
</body>

</html>